<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body id="@ViewBag.Pallet">
        <div class="nav-bar">
            <h1 class="nav-title">Electric Ladyland</h1>
        </div>
        @RenderBody()
    </body>
</html>
